{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
        <tr>
            <th scope="row">{{ article.id }}</th>
            <td>{{ article.titre }}</td>
            <td>{{ article.description }}</td>
            <td><img src="{{ asset('images/{{ article.image }}') }}"></td>
            <td>
                <a href="{{ path('detail_article', {'article': article.id}) }}">Voir le détail</a>
                <a href="{{ path('article_delete', {'article': article.id}) }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
