{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>{{ article.titre }}</h1>
        <p>{{ article.description }}</p>
        <img src="{{ asset('images/{{ article.image }}') }}">
    </div>
    
    
{% endblock %}